/* Minima 테마 기본 스타일 개선 */

.site-header {
  min-height: 56px;
  position: relative;
  background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 0;
  color: white !important;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.5;
  margin-left: 20px;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

.page-content {
  padding: 30px 0;
  flex: 1;
}

.site-footer {
  padding: 30px 0;
  text-align: center;
}

.site-footer .wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: rgba(99, 102, 241, 0.95);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-align: right;
  }

  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }

  .site-nav .trigger {
    clear: both;
    display: none;
  }

  .site-nav input ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
}

